/* =============================
    Testimonial Section Styling 
    ============================ */
.education .edu p {
  margin-top: 8px;
}

.education {
  background-color: var(--bg-color);
}

.education-container {
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap);
}

.education .cards {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(1.5vw + 0.5rem);
}

.education .cards .card {
  flex: 1;
  border: 1px solid var(--secondary-color);
  border-radius: 5.3px;
  padding: calc(1.5vw + 0.8rem);

  align-items: flex-start;
  justify-content: space-between;
  gap: calc(1.4vw + 0.6rem);
}

.education .cards .card .stars {
  align-self: flex-start;
  height: 23px;
}

.education .cards .card .education {
  justify-content: start;
  gap: 0.9rem;
}

.education .cards .card .education img {
  justify-content: start;
  width: 54px;
  height: 54px;
  border-radius: 8px;
}

.education .cards .card .education.flex-row {
  align-items: flex-start;
}

.education .cards .card .education .education-info h4 {
  font-size: var(--extra-samll-font-size);
}