/* =======================================
    Porjects Or Profilio Section Styling
   ======================================= */
.projects {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.projects .top {
  justify-content: space-between;
}

.projects .top .title {
  align-items: flex-start;
}

.projects .top .title p {
  margin-top: 10px;
}

.projects .top a {
  padding-inline: 0.9em;

  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.projects .top a.btn-primary::before {
  background-color: var(--text-color);
}

.projects .top a:hover p {
  color: var(--text-color);
}

.projects .top img {
  width: 50px;
  height: 50px;
  margin-left: -0.4em;
}

.projects .top .git_btn p {
  transition: var(--smooth-move);
  color: var(--white-color);
  text-align: center;
}

/* =================
    Projects Card 
    =============== */
.projects-con {
  display: flex;
  gap: calc(1vw + 1rem);
  flex-wrap: wrap;
}

.recent.project-card {
  display: flex;
}

.recent.project-card img {
  height: 100%;
  width: 45%;
}

.projects-con .project-card {
  overflow: hidden;
  flex: 1;
  flex-basis: 320px;
  max-width: 430px;
  justify-self: start;
  border-radius: 10px;
  box-shadow: 0px 5.3px 20px 0px var(--box-shadow-color);
  transition: var(--smooth-move);
}

.projects-con .project-card:hover {
  box-shadow: 0px 0px 9px 0px var(--box-shadow-color);
}

.project-card img {
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.project-card .content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6em;
}

.project-card .languages-con {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 20px;
}

.project-card .languages-con .language-badge {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 500;
}

.project-card .view-con {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.project-card .content a {
  font-size: 15px;
  margin-top: 1em;
  gap: 10px;

  border-bottom: 2px solid var(--text-color);
  transition: var(--smooth-move);
}

.project-card .content a:hover {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}

.project-card .content a:hover img {
  transform: translateY(-5px);
}

.project-card .content a img {
  transition: var(--smooth-move);
  width: 12px;
  height: 12px;
}

.more-projects {
  align-self: center;
}

.description.content {
  padding: 0px !important;
}

/* ====================
    Project Tab Menu
    ================== */
.project-tab {
  width: min(580px, 100%);
}

.project-tab ul {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: 0px 5.3px 80px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.project-tab ul li {
  text-align: center;
  width: 20%;
  padding: 10px 30px;
  font-size: var(--basic-font-size);
  cursor: pointer;
  z-index: 4;
  color: var(--text-color);
}

.tab-mover {
  position: absolute;
  height: 100%;
  width: 21%;
  flex: 1;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.project-tab ul li.active {
  transition: all 0.3s ease-in-out;
  color: white;
}

/* ====================
    Responsive Section
    =================== */
@media screen and (max-width: 1200px) {
  .recent.project-card {
    flex-direction: column;
  }
  .recent.project-card img {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 890px) {
  .project-card img,
  .recent.project-card img {
    width: 100%;
    height: 200px;
  }

  .projects-con .project-card:last-child {
    max-width: 350px;
  }
}

@media screen and (max-width: 590px) {
  .recent.project-card img,
  .project-card img {
    height: 300px;
  }

  .projects-con .project-card:last-child {
    max-width: 100%;
  }

  .project-tab ul li {
    padding: 10px;
  }
}

@media screen and (max-width: 376px) {
  .recent.project-card img,
  .project-card img {
    height: 220px;
  }
  .projects .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 3vw;
  }

  .project-tab ul li {
    font-size: 12px;
  }
}
