/* ===============================
    Hader or Hero Section Styling
    ============================== */
.header {
  background-color: var(--bg-color);
}

.header-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-left {
  flex: 1;

  align-items: flex-start;
  gap: calc(1vw + 0.4rem);
}

.header-left h4 {
  margin-bottom: 0px;
}

.header-left .objective {
  width: 75%;
  margin-bottom: 40px;
}

.header-left a {
  margin-top: 20px;
}

.header-right {
  flex: 1;
}

.header-right img {
  width: min(658px, 100%);
}

.resume {
  display: flex;
  gap: 10px;
}

.reach-me-home {
  display: flex;
  gap: 20px;
  align-items: center;
}

.reach-me-home p {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* ====================
    Responsive Section
    =================== */
@media screen and (max-width: 950px) {
  .header-container {
    flex-direction: column;
  }

  .header-left {
    width: 90%;
    margin-inline: auto;
    align-items: center;
    text-align: center;
  }

  .header-left .objective,
  .header-right,
  .header-right img {
    width: 100%;
  }

  .header-right img {
    margin-top: 7vw;
  }
  .reach-me-home {
    justify-content: center;
  }
  .reach-me-home p {
    text-align: center;
  }
}

@media screen and (max-width: 396px) {
  .resume {
    flex-direction: column;
    gap: 8px;
  }
  .reach-me-home {
    flex-direction: column;
  }
  .header-left .objective {
    margin-bottom: 20px;
  }
  .header-left a {
    margin-top: 10px;
  }
}
