/* ======================= 
   Skills Section Styling 
   =======================*/
.myskill,
.myskill .title {
  justify-content: space-between;
  align-items: flex-start;
}

.myskill {
  gap: var(--gap);
}

.skills-con {
  align-items: stretch;
  flex-wrap: wrap;
  gap: calc(2vw + 0.3rem);
}

.skill-card {
  flex: 1;
  flex-basis: 240px;

  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;

  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 1.5em;
  box-shadow: 0px 3px var(--primary-color);
}

.skill-card .img {
  align-self: flex-start;
  background-color: var(--white-color);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.skill-card img {
  width: 3em;
}
