.myskill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: calc(3vw + 1rem);
}

.myskill .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(2vw + 0.3rem);
}

.skill-card {
  flex: 1;
  background-color: var(--bg-color);
  border-radius: 10px;
  flex-basis: 240px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  gap: 1em;

  box-shadow: 0px 3px var(--primary-color);
}

.skill-card .img {
  background-color: var(--white-color);
  align-self: flex-start;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);

  /* Want to Perfectly Center */
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-card img {
  height: 53.33px;
  width: 53.33px;
}
