.experience .title {
    margin-bottom: 40px;
}

.experience .title h4, .experience .title h2 {
    text-align: center;
}

.exp-title {
  font-size: var(--title-font-size);
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 1px;
  color: var(--heading-color);
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: var(--text-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  border-radius: 8px;
}

.exp-item {
  width: 50%;
  padding: 30px;
  margin: 30px 0;
  position: relative;
  background: var(--white-color);
  border-radius: 16px;
  box-shadow: 0 4px 20px var(--box-shadow-color);
  transition: transform var(--smooth-move);
}

.exp-item:hover {
  transform: translateY(-5px);
}

/* Alternating Left / Right */
.exp-item:nth-child(odd) {
  left: -30px;
  transform-origin: left;
}

.exp-item:nth-child(even) {
  left: 50%;
  transform-origin: right;
  margin-left: 30px;
}

/* Connector circles */
.exp-item::before {
  content: "";
  position: absolute;
  top: 32px;
  width: 18px;
  height: 18px;
  background: var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.exp-item:nth-child(odd)::before {
  right: -39px;
}

.exp-item:nth-child(even)::before {
  left: -39px;
}

.exp-date {
  font-size: var(--extra-small-font-size);
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--secondary-color);
}

.exp-role {
  font-size: var(--basic-font-size);
  font-weight: 700;
  margin-bottom: 4px;
  color: var(--heading-color);
}

.exp-company {
  font-size: calc(var(--basic-font-size) - 2px);
  font-style: italic;
  margin-bottom: 10px;
  color: var(--text-color);
  opacity: 0.8;
}

.exp-details {
  padding-left: 20px;
  margin: 0;
  color: var(--text-color);
}

.exp-details li {
  margin-bottom: 10px;
  line-height: 1.6;
  list-style:square;
}

@media (max-width: 768px) {
    .exp-item,
    .exp-item:nth-child(even),
    .exp-item:nth-child(odd) {
        width: 90%;
        left: 30px !important;
    }

    .timeline::before {
        left: 10px;
        transform: none;
    }

    .exp-item::before {
        left: -27px !important;
        right: auto !important;
    }

    .exp-item:nth-child(even) {
        margin-left: 0px;
    }

    /* .exp-item:nth-child(odd)::before {
        right: -9px;   
    }

    .exp-item:nth-child(even)::before {
        left: -9px;
    } */
}