/* =============================
    Testimonial Section Styling 
    ============================ */
.testimonial {
  background-color: var(--bg-color);
}

.testimonial-container {
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap);
}

.testimonial .cards {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(1.5vw + 0.5rem);
}

.testimonial .cards .card {
  flex: 1;
  border: 1px solid var(--secondary-color);
  border-radius: 5.3px;
  padding: calc(1.5vw + 0.8rem);

  align-items: flex-start;
  justify-content: space-between;
  gap: calc(1.4vw + 0.6rem);
}

.testimonial .cards .card .stars {
  align-self: flex-start;
  height: 23px;
}

.testimonial .cards .card .customer {
  justify-content: start;
  gap: 0.9rem;
}

.testimonial .cards .card .customer img {
  width: 54px;
  height: 54px;
}
