/* =========== Font Roboto ========= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* ===================================
    Css Variable For Color, Font Size
    ================================== */
:root {
  --bg-color: #f5fcff;
  --primary-color: #5e3bee;
  --secondary-color: #006b6a;

  --text-color: #1c1e53;
  --heading-color: #282938;
  --white-color: #ffffff;

  /* Font size: 16.00px → 21.00px */
  --basic-font-size: clamp(1rem, 0.8913rem + 0.5435vw, 1.3125rem);
  /* 28.00px → 64.00px */
  --title-font-size: clamp(1.75rem, 0.9674rem + 3.913vw, 4rem);

  /* 14.00px → 18.00px */
  --extra-samll-font-size: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);

  /* Transition Effect */
  --smooth-move: 0.3s ease-in-out;
}

/* =================== 
    General Styling
    ================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ================== 
    Font Styling
    ================= */
h1,
h2,
h3,
h4 {
  color: var(--heading-color);
}

span {
  color: var(--primary-color);
}

h1 {
  font-size: var(--title-font-size);
  line-height: 120%;
}

.title-small {
  /* 20.00px → 54.00px */
  font-size: clamp(1.25rem, 0.5109rem + 3.6957vw, 3.375rem);
  color: var(--heading-color);
  font-weight: 700;
  line-height: 100%;
}

h2 {
  /* 24.00px → 45.00px */
  font-size: clamp(1.5rem, 1.0435rem + 2.2826vw, 2.8125rem);
  font-weight: 700;
  line-height: 120%;
}

h3 {
  /* 20.00px → 32.00px */
  font-size: clamp(1.25rem, 0.8891rem + 1.2vw, 1.8rem);
  font-weight: 700;
  line-height: 140%;
}

h4 {
  font-size: var(--basic-font-size);
  font-weight: 500;
  line-height: 150%;
}

p,
a {
  font-size: var(--basic-font-size);
  font-weight: 400;
  line-height: 150%;
  color: var(--text-color);
}

p.small {
  line-height: 130%;
}

p.extra-small {
  /* 14.00px → 18.00px */
  font-size: var(--extra-samll-font-size);
  line-height: 120%;
}

/* ===============
    Button Styling
    ============== */
.btn {
  border: 1px solid var(--primary-color);
  border-radius: 5.33px;
  font-size: var(--basic-font-size);
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  padding: 0.7em 0.9em;
  z-index: 3; /* If I don't give that the Button will not appear */
  transition: var(--smooth-move);
}

/* ================
    Primary Button
    ================ */
.btn-primary {
  color: var(--white-color);
  position: relative;
}

.btn-primary::before {
  position: absolute;
  content: "";
  inset: 0;

  border-radius: 4px; /* Want to get the perfect Radius with Button */

  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  transition: var(--smooth-move);
  z-index: -2; /* This is relate with the above */
}

.btn-primary:hover::before {
  width: 10%;
  height: 30%;
  transform: rotate(25deg);
}
.btn-primary:hover {
  color: var(--text-color);
}

/* =================
    Outline Button 
    ================ */
.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  position: relative;
}

.btn-outline::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  width: 10%;
  height: 30%;
  transform: rotate(25deg);
  border-radius: 4px;
  transition: var(--smooth-move);
  z-index: -2;
}

.btn-outline:hover::before {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.btn-outline:hover {
  color: var(--white-color);
}

/* ===========================
    Section Padding And Margin 
    ===========================*/
.container {
  width: min(90%, 1400px);
  margin-inline: auto;
}

.section-padding-1 {
  padding: 100px 0;
}

.section-padding-2 {
  padding: 110px 0px;
}

.section-padding-3 {
  padding: 50px 0px;
}

/* =============
    Responsive 
    ============ */
@media screen and (max-width: 990px) {
  .section-padding-1 {
    padding: 60px 0px;
  }

  .section-padding-2 {
    padding: 70px 0px;
  }

  .section-padding-3 {
    padding: 20px 0px;
  }
}
