/* =========== Font Roboto ========= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* ===================================
    Css Variable For Color, Font Size
    ================================== */
:root {
  --bg-color: #f5fcff;
  --primary-color: #5e3bee;
  --secondary-color: #006b6a;

  --text-color: #1c1e53;
  --heading-color: #282938;
  --white-color: #ffffff;

  --box-shadow-color: rgba(0, 0, 0, 0.1);

  /* Font size: 16.00px → 21.00px */
  --basic-font-size: clamp(1rem, 0.8913rem + 0.5435vw, 1.3125rem);

  /* 28.00px → 64.00px */
  --title-font-size: clamp(1.75rem, 0.9674rem + 3.913vw, 4rem);

  /* 14.00px → 18.00px */
  --extra-samll-font-size: clamp(0.875rem, 0.788rem + 0.4348vw, 1.025rem);

  /* Transition Effect */
  --smooth-move: 0.3s ease-in-out;

  /* Section Flex Gap */
  --gap: calc(3vw + 1rem);

  /* For Hero Section Only
  --hero-bg: #f5fcff */
}

[data-theme="dark"] {
  --bg-color: #1a1625;
  --text-color: #ba9ffb;
  --heading-color: #fafafa;
  --white-color: #121212;
  --box-shadow-color: rgba(44, 32, 75, 0.801);
  /* For Hero Section Only */
  /* --hero-bg: #1a1625; */
}

/* =================== 
    General Styling
    ================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  color: var(--text-color);
}

.normal-bg {
  background-color: var(--white-color);
}

/* ================== 
    Font Styling
    ================= */
h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-weight: 700;
}

span {
  color: var(--primary-color);
}

h1 {
  font-size: var(--title-font-size);
  line-height: 120%;
}

.title-small {
  /* 20.00px → 54.00px */
  font-size: clamp(1.25rem, 0.5109rem + 3.6957vw, 3.375rem);
  color: var(--heading-color);
  line-height: 100%;
}

h2 {
  /* 24.00px → 45.00px */
  font-size: clamp(1.5rem, 1.0435rem + 2.2826vw, 2.8125rem);
  line-height: 120%;
}

h3 {
  /* 20.00px → 32.00px */
  font-size: clamp(1.05rem, 0.6891rem + 1.2vw, 1.6rem);
  line-height: 140%;
}

h4 {
  font-size: var(--basic-font-size);
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 0.2em;
}

p,
a {
  font-size: var(--basic-font-size);
  font-weight: 400;
  line-height: 150%;
  color: var(--text-color);
}

p.small {
  line-height: 130%;
}

p.extra-small {
  /* 14.00px → 18.00px */
  font-size: var(--extra-samll-font-size);
  line-height: 120%;
}

.myskill svg {
  color: var(--secondary-color);
  width: 30px;
  height: 30px;
}

/* ===============
    Button Styling
    ============== */
.btn {
  font-size: var(--basic-font-size);
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  padding: 0.7em 0.9em;

  border: 1px solid var(--primary-color);
  border-radius: 5.33px;
  transition: var(--smooth-move);
  cursor: pointer;
  z-index: 3; /* If I don't give that the Button will not appear */
}

/* ================
Primary Button
================ */
.btn-primary {
  color: #fafafa;
  position: relative;
  z-index: 3; /* If I don't give that the Button will not appear */
}

.btn-primary::before {
  position: absolute;
  content: "";
  inset: 0;

  border-radius: 4px; /* Want to get the perfect Radius with Button */

  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  transition: var(--smooth-move);
  z-index: -2; /* This is relate with the above */
}

.btn-primary:hover::before {
  width: 10%;
  height: 30%;
  transform: rotate(25deg);
}
.btn-primary:hover {
  color: var(--text-color);
}

/* =================
    Outline Button 
    ================ */
.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  position: relative;
}

.btn-outline::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  width: 10%;
  height: 30%;
  transform: rotate(25deg);
  border-radius: 4px;
  transition: var(--smooth-move);
  z-index: -2;
}

.btn-outline:hover::before {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.btn-outline:hover {
  color: var(--white-color);
}

/* ===================
    Flex Box Styling 
    ================== */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ===========================
    Section Padding And Margin 
    ===========================*/
.container {
  width: min(90%, 1400px);
  margin-inline: auto;
}

.section-padding-1 {
  padding: 100px 0;
}

.section-padding-2 {
  padding: 110px 0px;
}

.section-padding-3 {
  padding: 50px 0px;
}

/* =======================
    Light and Dark Toggler
    ====================== */
.toggler {
  opacity: 0;
  position: absolute;
}

.toggler-label {
  background-color: var(--heading-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moon {
  text-align: center;
  color: var(--primary-color);
}

.sun {
  text-align: center;
  color: var(--primary-color);
}

.toggler-label .ball {
  background-color: var(--bg-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.toggler:checked + .toggler-label .ball {
  transform: translateX(24px);
}


/* Hero an Header Section Visibility */
.Hero {
  display: block;
}

.header {
  display: none;
}

/* =============
    Responsive 
    ============ */
@media screen and (max-width: 990px) {
  .Hero {
    display: none;
  }
  .header {
    display: block;
  }

  .section-padding-1 {
    padding: 60px 0px;
  }

  .section-padding-2 {
    padding: 70px 0px;
  }

  .section-padding-3 {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 550px) {
  .section-padding-1 {
    padding: 40px 0px;
  }

  .section-padding-2 {
    padding: 50px 0px;
  }
}
