/* =========================
    About Me Section Styling
    ========================= */
.about {
  background-color: var(--bg-color);
}
.about-con {
  gap: var(--gap);
}

.about__content {
  flex: 1;
}

.about__content p {
  margin-top: 1.2em;
  /* color: */
}

.about__content p span {
  color: var(--secondary-color);
}

.about__img {
  flex: 1;
  width: 100%;
}

.about .about__img img {
  max-width: 100%;
  border-radius: 20px;
}

.about__content li {
  /* list-style: disc; */
  padding-top: 1em;
}

.cta-about {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}

.cta-about .btn.btn-primary, .cta-about .btn.btn-outline{
  border-color:  var(--secondary-color);
  /* background-color: var(--secondary-color); */
}

.cta-about .btn.btn.btn-primary::before, .cta-about .btn.btn-outline::before {
  background-color: var(--secondary-color);
}

.cta-about .btn.btn-primary:hover {
  color: var(--secondary-color);
}

.cta-about .btn.btn-outline {
  color: var(--secondary-color);
}
.cta-about .btn.btn-outline:hover {
  color: #ffffff;
}

.more-about {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .linkedin-icon {
  margin-right: 10px;
} */

/* ====================
    Responsive Section
    =================== */
@media screen and (max-width: 987px) {
  .about {
    flex-direction: column-reverse;
  }

  .about__img img {
    width: min(90%, 420px);
  }
}

@media screen and (max-width: 390px) {
  .cta-about {
    flex-direction: column;
  }
}
