/* =========================
    About Me Section Styling
    ========================= */
.about {
  gap: var(--gap);
}

.about__content {
  flex: 1;
}

.about__content p {
  margin-top: 1.2em;
}

.about__img {
  flex: 1;
  width: 100%;
}

.about .about__img img {
  max-width: 90%;
}

.about__content li {
  list-style: disc;
  padding-top: 1em;
}

/* ====================
    Responsive Section
    =================== */
@media screen and (max-width: 720px) {
  .about {
    flex-direction: column-reverse;
  }

  .about__img img {
    width: min(90%, 420px);
  }
}
